<div class="banner">
  <img src="" alt="Botiquines, gabinetes y kits">
</div>
<section>
  <h1>Primeros Auxílios</h1>
  <p>
    En la casa, el trabajo, la escuela, el automóvil y al hacer deportes es necesario contar con determinados elementos para
    poder ayudar y protegerse en caso de incidentes y lesiones y brindar primeros auxilios de ser necesario.
  </p>
  <p>
    El botiquín debe ser ubicado en un lugar accesible, conocido por todos y hay que controlar el buen estado de los
    elementos periódicamente.
  </p>
</section>