<section>
  <h1>Quienes somos</h1>
  <p>
    Somos una empresa dedicada a la fabricación de Botiquines para Primeros Auxilios para el automóvil, el hogar o su
    comercio.
  </p>
  <p>
    Brindamos productos de calidad, habilitados por las autoridades sanitarias.
  </p>
  <p>
    Nuestra amplia variedad de gabinetes de diferentes medidas y materiales aseguran la protección y la seguridad que
    nuestros clientes necesitan.
  </p>
  <div class="data">
    El Boticario
    José Pedro Varela - Marcos Paz
    Tel: (011)4501-0376/4504-2689
    Atención de Lunes a Viernes 8-17 hs.
  </div>
</section>
<div class="empresa">
  <img src="" alt="Empresa El Boticario">
</div>